# Maximal Representative Subsampling

In [44]:
from pathlib import Path
import os
import pandas as pd
import numpy as np
np.seterr(divide = 'ignore') 

from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.model_selection import cross_val_predict
from scipy.stats import kstest

%run utils.py

path = Path(os.getcwd()).parent


## Attribute Comparison

<img src="img/gbs_allensbach.png" width="1000">

Each row is labelled with its (survey) *source*.

- *Source*
- Geschlecht
- Geburtsjahr
- Hoechster Bildungsabschluss
- Erwerbstaetigkeit
- Soziale Unterstuetzung

### Preprocessing: Allensbach

In [66]:
allensbach_cols = ['S01', 'S02', 'S03_rec', 'S05', 'V17', 'V18', 'V19']
allensbach_names = ['Geschlecht', 'Geburtsjahr', 'Hoechster Bildungsabschluss', 'Erwerbstaetigkeit',
                    'Soziale Unterstuetzung1', 'Soziale Unterstuetzung2', 'Soziale Unterstuetzung3']

allensbach = pd.read_csv(os.path.join(path, 'data/Allensbach/abs_data.csv'),
                         usecols = allensbach_cols,
                         delimiter=';', low_memory=False)

allensbach.replace(',', '.', regex=True, inplace=True)
allensbach.replace(' ', np.nan, regex=True, inplace=True)

allensbach = allensbach.fillna(allensbach.median()) # quick fix, for the time being.
allensbach.rename(columns= dict(zip(allensbach_cols, allensbach_names)), inplace=True)

allensbach.head()

,Geschlecht,Geburtsjahr,Erwerbstaetigkeit,Soziale Unterstuetzung1,Soziale Unterstuetzung2,Soziale Unterstuetzung3,Hoechster Bildungsabschluss
0,2,73,2,2,1,3,2
1,2,24,1,2,2,2,3
2,1,51,1,1,2,4,3
3,1,57,1,2,2,2,5
4,1,64,2,1,3,4,2

### Preprocessing: GBS

In [58]:
gbs1 = pd.read_csv(os.path.join(path, 'data/GBS/gbs1.csv'))
gbs2 = pd.read_csv(os.path.join(path, 'data/GBS/gbs2.csv'))

mapping1 = pd.read_csv(os.path.join(path, 'data/GBS/gbs_map1.csv'),
                                    encoding = "ISO-8859-1", delimiter = ';')
mapping2 = pd.read_csv(os.path.join(path, 'data/GBS/gbs_map2.csv'),
                                    encoding = "ISO-8859-1", delimiter = ';')

# Rename 'GBS-CODE' column
key = 'GBS-CODE'
mapping1 = mapping1.rename(columns={'GBS Code': key})
mapping2 = mapping2.rename(columns={'GBS Code': key})
gbs1 = gbs1.rename(columns={'gbs_code': key})
gbs2 = gbs2.rename(columns={'GBS-Code': key})

# Merge GBS "Umfrage Wellen" and create dataframe
gbs = pd.merge(gbs1, gbs2, how='inner', on=key)
gbs = pd.merge(gbs, mapping1, how='left', on=key)
gbs = pd.merge(gbs, mapping2, how='left', on=key)

gbs_cols = ['am01', 'am02_01', 'am14', 'am17', 'os03']
allensbach_names = ['Geschlecht', 'Geburtsjahr', 'Hoechster Bildungsabschluss', 
                    'Erwerbstaetigkeit', 'Soziale Unterstuetzung',]

gbs = gbs[gbs_cols]
gbs.rename(columns= dict(zip(gbs_cols, allensbach_names)), inplace=True)


del mapping1, mapping2, gbs1, gbs2

# TODO: Combine matching rows instead of selecting every 2nd.
gbs = gbs.iloc[::2, :]
gbs.head(5)

,Geschlecht,Geburtsjahr,Hoechster Bildungsabschluss,Erwerbstaetigkeit,Soziale Unterstuetzung
0,männlich,1979-04-02,"Abitur, allgemeine oder fachgebundene Hochschu...",1.0,viel Anteilnahme und Interesse
2,weiblich,1945-10-29,Hochschulabschluss,1.0,weder viel noch wenig
4,männlich,1949-09-06,Hochschulabschluss,1.0,viel Anteilnahme und Interesse
6,weiblich,1992-07-31,Hochschulabschluss,1.0,viel Anteilnahme und Interesse
8,weiblich,1984-03-01,Hauptschulabschluss/Volksschulabschluss,1.0,viel Anteilnahme und Interesse

In [60]:
for c in gbs.columns:
    print(gbs[c].value_counts())

weiblich             262
männlich             241
[NA] Keine Angabe      1
Name: Geschlecht, dtype: int64
1992-06-16    2
1962-10-04    2
1962-02-28    2
1994-05-30    2
1951-11-15    1
1954-12-24    1
1989-12-15    1
1971-08-29    1
1952-04-15    1
1972-10-10    1
1966-06-10    1
1986-01-14    1
1995-12-09    1
1951-04-10    1
1986-06-24    1
1968-11-23    1
1981-07-27    1
1971-01-07    1
1978-04-12    1
1959-04-10    1
1982-05-03    1
1980-12-15    1
1972-06-16    1
1983-11-27    1
1981-06-27    1
1994-09-03    1
1986-12-22    1
1967-12-05    1
1978-09-19    1
1996-08-12    1
             ..
1993-09-11    1
1962-05-03    1
1987-10-09    1
1994-08-28    1
1995-07-13    1
1997-09-30    1
1974-10-27    1
1973-04-24    1
1978-10-19    1
1955-09-26    1
1979-04-02    1
1994-07-20    1
1994-06-19    1
1972-12-18    1
1969-08-29    1
1992-07-15    1
1996-07-04    1
1985-07-10    1
1961-06-15    1
1955-12-09    1
1977-04-11    1
1955-12-25    1
1987-07-22    1
1959-05-23    1
1996-08-04    1
1950-12-24    1
1981-11-17    1
1993-07-26    1
1943-02-23    1
1995-01-07    1
Name: Geburtsjahr, Length: 294, dtype: int64
Hochschulabschluss                                                           221
Abitur, allgemeine oder fachgebundene Hochschulreife (Gymnasium bzw. EOS)     94
Realschulabschluss (Mittlere Reife)                                           75
Fachhochschulreife (Abschluss einer Fachoberschule)                           57
Hauptschulabschluss/Volksschulabschluss                                       39
Anderer Schulabschluss:                                                       11
Abschluss Polytechnische Oberschule 10. Klasse (vor 1965: 8. Klasse)           6
Name: Hoechster Bildungsabschluss, dtype: int64
 1.0    263
 2.0     29
 3.0      4
-1.0      2
Name: Erwerbstaetigkeit, dtype: int64
viel Anteilnahme und Interesse         287
weder viel noch wenig                  113
sehr viel Anteilnahme und Interesse     78
wenig Anteilnahme und Interesse         18
keine Angabe                             3
keine Anteilnahme und Interesse          2
Name: Soziale Unterstuetzung, dtype: int64

In [68]:
for a in allensbach.columns:
    print(allensbach[a].value_counts())

2    592
1    536
Name: Geschlecht, dtype: int64
76      35
46      32
58      31
59      28
51      28
29      25
60      24
55      22
67      22
48      22
61      22
56      22
52      22
45      22
44      22
75      21
42      21
74      21
25      20
63      20
43      20
77      19
54      19
62      19
47      19
78      19
73      18
49      18
32      18
28      17
        ..
34      14
68      14
50      14
38      13
31      13
79      13
65      13
27      12
53      12
64      11
66      11
21      11
41      11
69      10
23      10
51.0    10
81       9
20       8
37       8
80       8
70       5
82       5
91       3
86       2
83       2
87       2
84       1
92       1
88       1
85       1
Name: Geburtsjahr, Length: 74, dtype: int64
1      666
2      456
1.0      6
Name: Erwerbstaetigkeit, dtype: int64
2      557
1      346
3      201
2.0     15
4        9
Name: Soziale Unterstuetzung1, dtype: int64
2      484
1      299
3      250
4       58
2.0     37
Name: Soziale Unterstuetzung2, dtype: int64
2      514
4      249
1      159
3      155
5       36
2.0     15
Name: Soziale Unterstuetzung3, dtype: int64
3      348
2      284
4      257
5      210
3.0     15
1       14
Name: Hoechster Bildungsabschluss, dtype: int64

### Preprocessing: GESIS

We might need this later.

In [7]:
gesis1 = pd.read_csv(os.path.join(path, 'data/GESIS/ZA5665_a1_a11-a12_v22-0-0.dta.csv'), 
                     engine='python', encoding = "ISO-8859-1")
gesis2 = pd.read_csv(os.path.join(path, 'data/GESIS/ZA5665_a1_ca-cf_v22-0-0.dta.csv'), 
                     engine='python', encoding = "ISO-8859-1")
gesis3 = pd.read_csv(os.path.join(path, 'data/GESIS/ZA5665_a1_ba-bf_v22-0-0.dta.csv'), 
                     engine='python', encoding = "ISO-8859-1")
gesis4 = pd.read_csv(os.path.join(path, 'data/GESIS/ZA5665_a1_aa-ac_v22-0-0 (1).dta.csv'), 
                     engine='python', encoding = "ISO-8859-1")

gesis5 = pd.merge(gesis1, gesis2, how='inner', on='z000001a')
gesis6 = pd.merge(gesis3, gesis4, how='inner', on='z000001a')
gesis  = pd.merge(gesis5, gesis6, how='inner', on='z000001a')

del gesis1,gesis2,gesis3,gesis4,gesis5,gesis6

gesis = gesis[['a11d054a', 'a11d056b', 'a11d082b', 'a11d089c', 
              'a11d092a', 'acae051a', 'acae058a', 'acae062a', 
              'acae079a', 'acae089a', 'acae099a', 'acae085a', 
              'acae095a', 'acae105a', 'bdao099a']]
gesis.head(5)

,a11d054a,a11d056b,a11d082b,a11d089c,a11d092a,acae051a,acae058a,acae062a,acae079a,acae089a,acae099a,acae085a,acae095a,acae105a,bdao099a
0,Männlich,1946,"Fachhochschulreife, Fachoberschule",Nicht erwerbstätig,Missing by filter,Stimme zu,Weder noch,Missing by design,8,Missing by design,Missing by design,6,Missing by design,Missing by design,Mittelschicht
1,Weiblich,1974,Hauptschulabschluss,Vollzeiterwerbstätig,Angestellte(r),Weder noch,Stimme zu,Missing by design,Missing by design,5,Missing by design,Missing by design,3,Missing by design,Weiß ich nicht
2,Weiblich,1994,Schüler/-in,Nicht erwerbstätig,Missing by filter,Stimme zu,Lehne stark ab,Missing by design,9,Missing by design,Missing by design,6,Missing by design,Missing by design,Unit nonresponse
3,Männlich,1950,"Abitur, allgemeine oder fachgebundene Hochschu...",Vollzeiterwerbstätig,Angestellte(r),Stimme zu,Stimme stark zu,Missing by design,Missing by design,Missing by design,Item nonresponse,Missing by design,Missing by design,6,Keiner dieser Schichten
4,Männlich,1990,Realschulabschluss,Vollzeiterwerbstätig,Angestellte(r),Stimme zu,Missing by design,Lehne ab,8,Missing by design,Missing by design,5,Missing by design,Missing by design,Not reached

- "['a12d021a' 'a12d024a' 'dezg083a'] not in index"

## Experiment

In [ ]:
# Randomize data
df_low = df_low.reindex(np.random.permutation(df_low.index))
df_high = df_high.reindex(np.random.permutation(df_high.index))

rep = df.copy(deep=True)
non_rep = pd.concat([df_low.head(21000).copy(deep=True),
                     df_high.copy(deep=True)], sort=True)

print(rep['Above/Below 50K'].value_counts())
print(non_rep['Above/Below 50K'].value_counts())

rep['label'] = 'rep'
non_rep['label'] = 'nonrep'

In [ ]:
data = pd.concat([rep, non_rep], sort=True).copy(deep=True)
data.reset_index(drop=True, inplace=True)
data['probs'] = len(data.label)*[0]

temperature = 1 
max_drop = 1000
limit = 2000

ks = []
auc = []
ratio = []
acc = []

while (len(data[data.label == 'nonrep']) > max_drop and
       len(data.label) > limit):

    rf = RandomForestClassifier(n_estimators=100, 
                                bootstrap=True,
                                max_depth=5,
                                oob_score=True)
    
    probs = cross_val_predict(rf,
                              data.drop(['label', 'Above/Below 50K', 'probs'], axis=1),
                              data['label'], 
                              cv=3,
                              method='predict_proba')
    
    preds = cross_val_predict(rf,
                              data.drop(['label', 'Above/Below 50K', 'probs'], axis=1),
                              data['label'], 
                              cv=3)
    
    if preds[0] == 'nonrep' and round(probs[0][0], 0) == 1:
        data['probs'] = [p[0] for p in probs]
    else:
        data['probs'] = [p[1] for p in probs]
    
    drop_id = []
    for _ in range(max_drop):
        softmax = sample(data[data.label == 'nonrep']['probs'], temperature)
        drop = data[data.label == 'nonrep'].iloc[[np.argmax(softmax)]].index[0]
        drop_id.append(drop)
        
    data.drop(data.index[drop_id], inplace=True)
    data.reset_index(drop=True, inplace=True)

    
    # EVALUATION
    ratio.append(data[data.label == 'nonrep']['Above/Below 50K'].value_counts()[0]/
                 data[data.label == 'nonrep']['Above/Below 50K'].value_counts()[1])
    auc.append(roc([1 if k == 'nonrep' else 0 for k in data.label], data.probs, 1, 'name'))
    ks.append(kstest(data.probs, 'uniform'))
    
    print('length of current dataframe:', len(data[data.label == 'nonrep'].nonrep))